<nav class="nav">
    <div class="nav__top">
        <img src="/img/icons/logo.png" alt="">
        <div class="nav__top--search">
            <select name="" id="">
                <option value="">All</option>
                <option value="">Beauty </option>
                <option value="">Electronics</option>
                <option value="">Computers</option>
            </select>
            <input type="text">
            <button type="submit">
                <svg class="">
                    <use href="/img/icons/sprite.svg#icon-search"></use>
                </svg>
            </button>
        </div>
        <div class="nav__top--pad"></div>
    </div>
    <div class="nav__bot">
        <div class="nav__bot--shipping">
            <a href="#" class="location__btn aBtn iBtn">
                <svg class=''>
                    <use href='img/icons/sprite.svg#icon-location'></use>
                </svg>
                <span>Deliver to</span>
                <span>Canada</span>
            </a>
        </div>

        <div class="nav__bot--shopping ">
                <a href="#" class=" aBtn">
            <span style="opacity:0">null</span>
            <span class="departments">Departments</span>
        </a>
        </div>

        <div class="nav__bot--tools">

            <a href="#" class="login__btn aBtn">
                <span>Hello. Sign In</span>
                <span>Account & Lists</span>
            </a>

            <a href="#" class="aBtn">
                <span style="opacity: 0">null</span>
                <span>Orders</span>
            </a>

            <a href="#" class="cartBtn aBtn iBtn">
                <svg class=''>
                    <use href='img/icons/sprite.svg#icon-cart'></use>
                </svg>
                <span style="opacity: 0">null</span>
                <span>Cart</span>
            </a>
        </div>

</nav>